<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
  <div class="footer-inner">
    <div class="copyright">
      &copy; <%= new Date().getFullYear() %> <%= theme.author %>
    </div>
    <div class="edit-time">
      <span>最后编辑时间：<%= new Date().toLocaleString('zh-CN', {timeZone: 'Asia/Shanghai'}) %></span>
    </div>
  </div>
</div>